extends layout

block content
  h1 Anton Restful Api
  h2 Time Microservice
  p.red Example Usage
  code localhost:3000/August 27 2018
  br
  code localhost:3000/1535375842041
  p.red Expected Output is JSON
  code {"unix:1535375842,"natural":August 27 2018}
